.card-header {
  background-color: #b3d4fc;
  padding: 0.5rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between; /* กระจายด้านซ้าย-ขวา */
  align-items: center;
}

.weekday {
  font-weight: bold;
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-left: auto;
}

/* reports.css */
.task-item.school-event {
  background-color: #f4dbf2 !important;
  border-left: 4px solid #d68fcf;
}

.task-item.school-event .task-header {
  background-color: #f0c5ed !important;
}